/* esercizio 1 */

.ex-1-square{
    transition: all 1s;
}

.ex-1-square:hover{
    background-color: red;
}

/* esercizio2 */

.ex-2-square:active{
    width: 100%;
    transition: all 2s;
}

/* esercizio3 */

.ex-3-square{
    transition: all 1s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* esercizio4 */

.ex-4-square{
    transition: all 1s;
}

.ex-4-square:hover{
    opacity: 0;
}

/* esercizio5 */

.ex-5-square{
    transition: 1s;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    width: 20px;
    height: 20px;
}

/* esercizio6 */

.ex-6-img:hover {
   filter: grayscale(1);
}

/* esercizio7 */

.ex-7-img{
    transition:all 1s;
}

.ex-7-img:hover{
    filter: grayscale(1) blur(5px);
}

/* esercizio8 */

.ex-8-img{
    transition:1s;
}

.ex-8-img:hover{
    border-radius: 20px;
    filter: brightness(1.5) saturate(1);
}